<h1>Hi</h1>

<p> You typed: <%= @login > </p>

<p> You password: <%= @password > </p>

<form action="/" method="POST">
   
<input type="text" name="aaa" />

<input type="submit" /> #кнопка для отправки формы

</form>